//Varaibles
$color-primary: #ffffff;
$color-secondary: #000000;

//mixins
@mixin keyFont {
    
}

//Basis
* {
    box-sizing: border-box;
}

body {
    background-color: $color-primary;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}


//Layout 
.page-container {
    width: 100%;
    min-width: 760px;
    height: 100vh;
    min-height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    width: 720px;
    height: 450px;
    border: 10px solid $color-secondary;
    box-shadow: 40px 40px 0px $color-secondary;
    display: flex;
}

.res-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.keyboard-container {
    width: 50%;
    border-left: 10px solid $color-secondary;
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        height: 90px;
    }

    .key {
        width: 90px;
        text-align: center;
        line-height: 90px;        
    }
}



