//Font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

//Varaibles
$color-primary: #000000;
$color-secondary: #ffffff;

//mixins
@mixin keyFont {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 3em;
    font-weight: 700;
    color: $color-primary;
    text-transform: uppercase;    
}

//Basis
* {
    box-sizing: border-box;
}

body {
    background-color: $color-secondary;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}


//Layout 
.page-container {
    width: 100%;
    min-width: 760px;
    height: 100vh;
    min-height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    width: 720px;
    border: 10px solid $color-primary;
    box-shadow: 40px 40px 0px $color-primary;
    display: flex;
}

.res-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.keyboard-container {
    width: 50%;
    border-left: 10px solid $color-primary;
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        height: 90px;
    }

}

//Result block



//Keyboard block

.key {
    background: transparent;
    border:none;
    width: 90px;
    padding: 0;

    @include keyFont;
    text-align: center;

    cursor: pointer;    

    &:hover {
        background-color: $color-primary;
        color: $color-secondary;
        svg {
            rect, path {
                fill: $color-secondary;
            }
            circle {
                stroke: $color-secondary;
            }
        }
    }
}

.row .key.helper{
    border-left: 10px solid $color-primary;
    border-bottom: 10px solid $color-primary;
    &:first-child {
        border-left: none;
    }
}

.row.fourth .key.helper {
    border-bottom: none;
}

.equal {
    width: 180px;
    background-color: $color-primary;
    border-top: 10px solid $color-primary;
    border-left: 10px solid $color-primary;
    &:hover {
        background-color: $color-secondary;
        svg rect {
            fill: $color-primary;
        }
    }
}



