//Font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

//Varaibles
$color-primary: #000000;
$color-secondary: #ffffff;

//mixins
@mixin keyFont {
    
}

//Basis
* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: $color-primary;

    background-color: $color-secondary;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}


//Layout 
.page-container {
    width: 100%;
    min-width: 760px;
    height: 100vh;
    min-height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    width: 720px;
    border: 10px solid $color-primary;
    box-shadow: 40px 40px 0px $color-primary;
    display: flex;
}

.res-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.keyboard-container {
    width: 50%;
    border-left: 10px solid $color-primary;
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        height: 90px;
    }

}

//Result block



//Keyboard block

.key {
    width: 90px;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
    &:hover {
        span,
        svg {opacity: 0.5;}
    }
}

.row .helper {
    border-left: 10px solid $color-primary;
    border-bottom: 10px solid $color-primary;
}

.row.first .key:first-child {
    border-left: none;
}

.row.fourth .key:last-child {
    border-bottom: none;
}

.equal {
    width: 180px;
    background-color: $color-primary;
}



